<div [ngSwitch]="context" class="dish-card-component">
    <ng-container *ngSwitchCase="'dish'">
        <app-title title={{data.name}} [hNumber]="3"></app-title>
        <div class="dish-card-component__data">
            <p>{{data.description}}</p>
            <img src={{data.url}} alt="" width="60px" class="dish-card-component__image">
            <div class="dish-card-component__ingredients-container" *ngIf="data.ingredients">
                <app-title title="Ingrédients:" [hNumber]="5"></app-title>
                <span *ngFor="let ingr of data.ingredients; let i = index">
                    {{ingr}},
                </span>
            </div>
            <div class="dish-card-component__price-container">
                <p>{{"Price: "}} €{{data.price}}</p>
            </div>
        </div>
    </ng-container>
</div>
