
.dish-card-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 500px;
    padding: 15px;
    border: solid rgb(134, 123, 182) 2px;
    border-radius: 15px;
    transition: transform 0.25s ease; /* Ajoute une transition pour une animation plus fluide */
    color: rgb(134, 123, 182);
    text-shadow: 1px 1px 1px black;
    box-sizing: content-box;
    background-color: rgba($color: #000000, $alpha: 0.2);
    
    &__image {
      object-fit: cover;
      width: 285px;
      height: 145px;
      border-radius: 7px;
      margin: 15px 0;
      border-color: rgb(134, 123, 182);
      border: 2px solid;
    }
    
    
    
    /* Ajoute une transition pour une animation plus fluide */
  
    &:hover {
      transform: scale(1.05);
    }
  
    &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px 0 0 0;
    }
  
    &__ingredients-container {
      margin: 15px 0;
    }
  
    &__image {
      object-fit: cover;
      width: 285px;
      height: 145px;
      border-radius: 7px;
      margin: 15px 0;
    }
    &__price-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  