<section [ngSwitch]="context" class="dish-card">
    <ng-container *ngSwitchCase="'dish'">
        <section class="dish-card__title-container">
            <app-title appTitleStyle [title]="data.name" [hNumber]="3"></app-title>
        </section>
        <section class="dish-card__data-container">
            <section class="dish-card__data-description">
                    {{ data.description }}
            </section>
            <section class="dish-card__data-image">
                <img [src]="data.url">
                <span class="dish-card__price" *ngIf="data.price">{{ data.price }} € </span>
            </section>
            <ul class="dish-card__data-ingredients" *ngIf="data.ingredients && data.ingredients.length">
                <app-title title="Ingrédients : " [hNumber]="4"></app-title>
                <li *ngFor="let ingredient of data.ingredients; let i = index">
                    {{ ingredient }}
                </li>
            </ul>
        </section>
    
        
    </ng-container>
</section>
