<article [ngSwitch]="context" class="card-container card-animation--{{(index ? index + 1 : 0)}}">
   
    <!-- MENU CASE-->
    <ng-container *ngSwitchCase="'menu'">
        <header class="card-container__title-container">
            <h2>Menu du {{ translator(index)}}</h2>
        </header>
        <section class="card-container__dishes-container">
            <article *ngFor="let dish of data; let i = index" class="card-container__dish-container">
                <header>
                        <app-title [title]="dish.title" [hNumber]="3"></app-title>
                </header>
                <section class="card-container__image-container">
                        <img [src]="dish.url">
                </section>
                <footer class="card-container__actions-container">
                        <button (click)="openModal(dish)" [attr.aria-label]="actionButton"> {{ actionButton }} </button>
                </footer>
            </article>
        </section>
    </ng-container>


    <ng-container *ngSwitchCase="'user'">

        <header class="card-container__user-title">
            <h2> {{ data.firstname}}  {{data.lastname }} </h2>
        </header>

        <section class="card-container__user-photo">
            <img [src]="data.url" [alt]="'portrait de {{data.firstname}} {{data.lastname}}'">
        </section>

        <section class="card-container__user-email">
            <p> Email : {{ data.email }} </p>
        </section>
    
    </ng-container>


</article>
