<main class="page admin-page">

    <section class="admin-page__menues-container">

        <app-card *ngFor="let menu of menues; let i = index" 
            [data]="menu" 
            [context]="'menu'"
            [actionButton]="'Choisir'"
            [index]="i"
        
        ></app-card>

    </section>

    <section class="admin-page__carte-container">

        <app-dish-card 
        *ngFor="let dish of carte; let i = index" 
        [data]="dish"
        [context]="'dish'"
      
        >
        </app-dish-card>
        
    </section>

    <section class="admin-page__users-container">
        <app-card  
        *ngFor="let user of users; let i = index" 
        [data]="user" 
        [context]="'user'"
        [index]="i"
        >
        </app-card>    
    </section>




</main>
