

.form-container {
    opacity: 0;
    animation: formAnimation 1000ms ease-in-out forwards;
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 99, 175, 0.6);

    &__actions-container {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            border: none;
            padding: 8px 20px;
            background: rgb(34, 34, 34);
            color: white;
            opacity: 0.7;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
            margin: 10px 0;
          
        
        }
        
    
    }

}

.form-container__title-container {
    color: white;
    padding: 0 10px;
}

.form-container__inputs-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}




@keyframes formAnimation {

    from {
        opacity: 0;
        transform: translateY(-300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}