<form (submit)="onFormSubmit($event)" class="form-container">

    <section class="form-container__title-container">
        <app-title 
        [hNumber]="2" 
        [title]="context === 'login' ? 'Formulaire de connexion' : 'Formulaire d\'inscription' ">
        </app-title>
    </section>

    <section class="form-container__inputs-container">

        <app-input 
        [inputData]="formData[0]"
        [inputModel]="formInputsModel"
        >
        </app-input>

        <app-input 
        [inputData]="formData[1]"
        [inputModel]="formInputsModel"
        >
        </app-input>

    </section>

    <section class="form-container__actions-container">
        <button>
            {{ actionButton }}
        </button>
    </section>



</form>
