<main class="page landing-page">

    <video class="landing-page__video" autoplay loop muted>
        <source src="assets/sea.mp4" type="video/mp4">
    </video>

    <section class="landing-page__title-container">
        <app-title 
        [title]="'Cantinière'" 
        [hNumber]="1">
        </app-title>
    </section>

    <fa-icon [icon]="faLogo" class="landing-page__icon"></fa-icon>
    
    <section class="landing-page__actions-container">
        <a routerLink="/menu-page"> Voir les menus de la semaine </a>
    </section>
  




</main>
