/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}


html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page {
    display: flex;
    margin-top: 10vh;
    height: 90vh;
    opacity: 0;
    animation: pageAnimation 1000ms ease-in-out forwards;

}

@keyframes pageAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


