.menu-page {
    width: 100vw;
    white-space: none;
    overflow-x: scroll;

    display: flex;
   


    &__video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;  
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__day-cards-container {
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
        height: 100%;
     
    }

    
}