.menu-page {
    flex-direction: row;
    &__video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;  
    }
    &__day-cards-container {
        z-index: 2;
        display: flex;
        flex-direction: row;
    }

    &--modifier {
        height: 100%;
    }
}