<app-modal *ngIf="modalRepasService.showModal">
    <div class="class-2">
        Au revoir
    </div>
    <div class="class-1">
        Bonjour
    </div>
</app-modal>

<main class="page menu-page menu-page--modifier">

    <video class="menu-page__video" autoplay loop muted>
        <source src="assets/coffee.mp4" type="video/mp4">
    </video>

    <section class="menu-page__day-cards-container" *ngIf="menues" else elseBlock>

        <!-- Composant enfant : day card -->
        <app-card 
        *ngFor="let menu of menues; let i = index" 
        [data]="menu"
        [context]="'menu'"
        [index]="i"
        [actionButton]="'Choisir'"
        >
        </app-card>
        <ng-template #elseBlock class="menu-page__day-no-cards-container">
            <p> Aucun Menu Actuellement </p>
        </ng-template>
        

    </section>
 

</main>

